.EmployeeForm-input {
  padding: 10px;
  width: 100%;
  font-size: 18px;
  margin-bottom: 5px;
}

.EmployeeForm-button {
  padding: 10px;
  width: 100%;
  font-size: 18px;
  margin-bottom: 5px;
}



.EmployeeForm-form {
  max-width: 320px;
  margin: 0 auto;
  display: block;
}

.EmployeeForm-button {
  width: 100%;
}
