@import 'https://fonts.googleapis.com/css?family=Roboto';

.App {
  font-family: 'Roboto';
}


.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-content {
  max-width: 800px;
  margin: 20px auto;
  background-color: #F6F6F6;
  padding: 10px;
}
